<header class="main-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    
	{{> subheader}}
	
	<div class="blog-about">
    	<div class="blog-title"><p>{{@blog.title}}</p></div>
    	<div class="blog-description">  {{@blog.description}}  </div>
    </div>
</header>
