<div class="subheader box-resize">
	<div class="main-menu">
		<a href="{{@blog.url}}/About" class="menu-link box-resize">About</a>
		<a href="{{@blog.url}}/" class="menu-link box-resize">Blog </a>
		<a href="{{@blog.url}}/Portfolio" class="menu-link box-resize">Portfolio</a>
		<div class="menu-sandwich"></div>
	</div>

	<div class="social-icons">

		<div class="icon-wrapper">
			<a href="#" class="social-link icon-facebook-circled"></a>
			<a href="#" class="social-link icon-github-circled-1"></a>
			<a href="#" class="social-link icon-linkedin-circled"></a>
			<a href="#" class="social-link icon-twitter-circled"></a>
		</div>

		<div class="hover">
			<a href="#" class="icon-left-open">
			</a>
		</div>
	</div>
</div> 