<div class="subheader box-resize float-fix">
	<div class="main-menu" class="main-menu">
		<a href="{{@blog.url}}/" class="menu-link box-resize">Home</a>
		<a href="{{@blog.url}}/About" class="menu-link box-resize">About</a>
		<a href="{{@blog.url}}/Works" class="menu-link box-resize">Portfolio</a>
		<div class="menu-sandwich icon-menu"></div>
	</div>

	<div class="social-icons">

		<div class="icon-wrapper">
			<a href="#" class="social-link icon-facebook-circled"></a>
			<a href="#" class="social-link icon-gplus-circled"></a>
			<a href="#" class="social-link icon-github-circled"></a>
			<a href="#" class="social-link icon-twitter-circled"></a>
		</div>

		<div class="hover">
			<a href="#" class="icon-left-open">
			</a>
		</div>
	</div>
</div> 