{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
{{> main-header}}

{{! The main content area on the homepage }}
<main class="content home-page-content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    {{> post-preview}}

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>